<div class="panel panel-primary" *ngIf="productDetail != null">
    <div class="panel-heading">
        {{pageTitle + ": " + productDetail.productName}}
    </div>

    <div class="panel-body">
        <div clas="row">
            <div class="col-md-6">
                <div class="col-md-3">Name:</div>
                <div class="col-md-6">{{productDetail.productName}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">Code:</div>
                <div class="col-md-6">{{productDetail.productCode}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">Description:</div>
                <div class="col-md-6">{{productDetail.description}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">Availability:</div>
                <div class="col-md-6">{{productDetail.releaseDate}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">Price:</div>
                <div class="col-md-6">{{productDetail.price | currency:"EUR":true:"1.2-2"}}</div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">5 Star Rating:</div>
                <div class="col-md-6">
                    <ai-star [rating]="productDetail.starRating" ></ai-star>
                </div>
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='200' 
                     [style.margin.px]='2' 
                     [src]='productDetail.imageUrl'
                     [title]='productDetail.productName'>
            </div>
        </div>
    </div>

    <div lass="panel-footer">
        <a class="btn btn-default" (click)="onBack()" style="width: 80px">
            <i class="glyphicon glyphicon-chevron-left"></i>Back
        </a>
    </div>

</div>